.header {
  height: 57px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* ! absolutely piority */
  background-color: white;
  border-bottom: 1px solid #ccc;
}

/* ! hiện tượng thumnails đè qua header,nhưng video-info lại chạy bên dưới header
! Quy tắc viết sau xuất hiện trước
! Tuy nhiên nó không áp dụng cho positon statis hay default
* -> do đó thumnail chèn được lên header
! tuy nhiên video-info là position default 
* -> video-info bị đè bên dưới
! khi đặt video-info thành != static thì nó sẽ chèn lên
* -> tuy nhiên trong trg hợp này, sửa z-index của header */

.search-bar {
  /* padding: 8px 12px; */
  /* border-radius: 18px; */
  border: 1px solid #dfe1e5;
}

/* .search-bar:focus {
  border: none;
  outline: none;
} */
/* 
.search-bar:hover {
  border: none;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
} */

/* theo mẫu, chiều rộng của thanh search thay đổi, 
  trong khi 2 section left and right không thay đổi
  -> fixed width with left and right
  flex: 1 cho search bar */

.left-section {
  /* background-color: lightblue; */
  /* width: 160px; */
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  margin: 0 23px 0 23px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin: 0 0 0 60px; /*margin left and right để cách đều 2 bên section*/
  max-width: 470px; /*khi kéo browser to hết cỡ, search bar cũng chỉ giới hạn độ lớn*/
  display: flex;
  align-items: center;
  /* min-width: 30px; */
}

.search-bar {
  flex: 1;
  height: 36px;
  padding: 0 0 0 12px;
  font-family: Roboto, Arial;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1.5px solid #ccc;
  box-shadow: inset 1px 1px 1.5px rgba(128, 128, 128, 0.103);
  /* ! inset: pust shadow inside the box instead of outside */

  width: 0;
  /* ! khi browser co, searchbar sẽ co hết cỡ */
}

.search-button,
.voice-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ccc;
  height: 39px;
}

.search-button {
  border: 1.5px solid #ccc;
  background-color: #f2f2f2;
  width: 65px;
  margin-right: 10px; /*with voice icon*/
  margin-left: -2px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.search-icon {
  height: 24px;
}

.voice-search-button {
  background-color: #f8f8f8;
  border: none;
  width: 40px;
  border-radius: 23px;
}

.voice-search-icon {
  height: 24px;
}



.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button .tool-tips,
.voice-search-button .tool-tips,
.upload-icon-container .tool-tips,
.youtube-app-container .tool-tips,
.notifications-icon-container .tool-tips{
  background-color: rgba(96, 96, 96, 0.9);
  color: white;
  font-family: Roboto, Arial;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 5px;
  border-radius: 3px;
  bottom: -50px;
  position: absolute;
  opacity: 0; /*hide the button */
  transition: opacity 0.2s;
  pointer-events: none;
  /* tránh tình trạng hover lên tooltip thì cx hiển thị 
  vì tooltip nằm trong search-top */
  white-space: nowrap;
  /* ! fix lỗi bị gói lại bởi box */
}

.search-button:hover .tool-tips,
.voice-search-button:hover .tool-tips,  
.upload-icon-container:hover .tool-tips,
.youtube-app-container:hover .tool-tips,
.notifications-icon-container:hover .tool-tips{
  opacity: 1;
}

.right-section {
  /* background-color: lightblue; */
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 22px;
  flex-shrink: 0;
  /*! shrink: flexbox không co lại khi browser co, giữ nguyên width */
}

.upload-icon,
.youtube-app-icon,
.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  font-family: Roboto, Arial;
  font-size: 11px;
  position: absolute;
  background-color: rgb(184, 0, 0);
  color: white;
  padding: 2px 6px;
  border: none;
  border-radius: 10px;
  top: -2px;
  right: -6px;
}

.current-user-picture {
  height: 32px;
  border: none;
  border-radius: 18px;
}

/* * inheritance sẽ có tác dụng từ cha -> con  
* tuy nhiên , ảnh hưởng ấy chỉ có tác dụng lên Text như 
* font-family, font-size, padding, margin, ..v..v*/

/* Khi set property cho element
Xét theo độ ưu tiên, property vào chi tiết hơn sẽ được áp dụng
ex: .video-author >> body
vì gọi trực tiếp vào tên class có độ ưu tiên cao hơn element */