/* .thumnails { */
  /* Ảnh thật có size 700 * 400 */
  /* width: 300px; */
  /* height: 300px; 
  border: 4px solid rgba(200, 8, 8, 0.531); */
  /* Dựa vào border để quan sát */

  /* object-fit: cover;
  object-position: left;
  object-position: right; */
  /* Khi sử dụng cover, ảnh sẽ được nhìn qua frame có kích thước 300*300
  Khi đó, object-position sẽ chỉ "đùn ảnh" sang left, right, center */

  /* object-fit: contain;
  object-position: top;
  object-position: bottom;
  object-position: center; */
  /* Với contain, ảnh vẫn giữ nguyên hình dạng
    Thu nhỏ theo tỉ lệ để chui vừa ô 300 * 300 */

/* } */

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 20px;
  column-gap: 16px;
  row-gap: 30px;
}

/* TODO: Responsive */

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (mix-width: 751px) and (max-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* .video-preview { */
/* width: 300px;
  display: inline-block; */
/*vì div là block element nên sẽ chiếm toàn bộ dòng*/
/* vertical-align: top; */
/* hiện tượng 2 ảnh lệch nhau vì 1 ảnh có chữ chia làm 2 dòng, nên cao hơn */
/* margin-right: 15px; */
/* } */

.thumnail-row {
  margin-bottom: 10px;
  position: relative;
}

.thumnails {
  width: 100%;
}
/* * không thể img thumnail là relative vì đó không thực sự là container 
* -> đặt thumnail-row là relative và video-time là absolute*/

.video-time {
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  padding: 3px;
  position: absolute;
  border-radius: 3px;
  bottom: 10px;
  right: 10px;
}
/* ! 400 : normal
! 500 : semi-bold : "bán" đậm 
! 700 : bold đậm*/
.video-stats,
.video-author {
  display: block;
}



.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  vertical-align: top;
  /* background-color: gray; */
}

.profile-picture {
  /* width: 50px; */
  width: 36px;
  /* chỉnh width ảnh = width của div channel-pic */
  border-radius: 50px;
}

.profile-picture-container {
  /* display: flex; */
  background-color: lightblue;
  width: fit-content;
}



.video-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* space between lines in this <p> */
}

.video-stats,
.video-author {
  font-size: 12px;
  color: #606060;
  margin: 0;
}

.video-author {
  margin-top: 8px;
}

.video-stats {
  margin-bottom: 16px;
}
