body {
  font-family: Montserrat;
  text-align: center;
}

.model {
  font-size: 45px;
  font-weight: bold;
  margin: 10px auto 17px;
}

.description {
  font-weight: 500;
}

.issue {
  text-decoration: underline 2px;
}
